.text-section {
    padding: 2vmin 2vmin 3vmin 2vmin;
}

.text-section.text-section-floating {
    width: 80%;
    margin: 0px auto;
}

.text-section-header {
    font-size: 3vmin;
    padding-bottom: 2vmin;
    text-align: center;
    color: rgba(255, 200, 200, 0.8);
    font-weight: 700;
}

.text-section-body {

}